<h1><%= @job.title %></h1>
<h1><%= @job.company %></h1>
<h1><%= @job.url %></h1>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_job_path(@job) %>
<%= link_to 'Delete', job_path, method: :delete, data: {confirm: "Are you sure ?"} %>
