<!DOCTYPE html>
<html>
<head>
  <title>Jobsboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class = "navbar navbar-default" style="width: 1305px">
    <div class = "container">

      <ul class = "nav navbar-nav", display = "inline">
        <li><%= link_to "All Jobs", root_path %></li>
        <% Category.all.each do |category| %>
        <li><%= link_to category.name, jobs_path(category: category.name) %></li>
        <% end %>
        </ul>
    </div>
  </nav>

<div class = "container", align = "center">
<%= yield %>
</div>
</body>
</html>
